/src/.phpunit.cache
/src/node_modules
/src/public/build
/src/public/hot
/src/public/storage
/src/storage/*.key
/src/vendor
/.fleet
/.idea
/.vscode
/src/libs
/src/.env
/src/.env.backup
/src/.env.production
/src/.phpunit.result.cache
/src/Homestead.json
/src/Homestead.yaml
/src/auth.json
/src/npm-debug.log
/src/yarn-error.log
/temp
/.c9
/ws/node_modules
/ws/package-lock.json
/src/public/Portal/assets/images/Categorys/category2.jpg
/src/public/Portal/assets/viedos
/html
/src/composer.lock
/src/storage/logs
/src/storage/framework/*
