@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
*{
    // font-family: "Open Sans", sans-serif;
    font-family: "Roboto", sans-serif;
    [dir="rtl"] & {
        font-family: "Cairo", sans-serif;
    }
}
a{
    text-decoration: none !important;
}
body{
    // min-height: 3000px;
    background: #f6f6f6;
}
.btnMy{
    padding: 10px 20px;
    border: 1px solid #000;
    background: transparent;
    border-radius: 5px;
}
.btnMy:hover{
    opacity: 0.7 !important;
}
.btnMy-blue{
    background: $blue_2;
    border-color: $blue_2;
    color: $white;
}
.btnMy-blue:hover{
    opacity: 0.7;
}
.heading{
    text-align: center;
    margin: 40px 0;
    h2{
        font-size: 4rem;
        letter-spacing: 0px !important;
        font-weight: bold;
        color: $blue;
    }
    p{
        font-size: 0.8rem;
        width: 60%;
        margin: 10px auto;
        color: $gray_2;
    }
}
.dark{
    background: $blue;
    color: $gray_3 !important;
    h2{
        color: $gray_3;
        padding: 20px 0;
    }
    p{
        color: $gray_3;
    }
}
.logo {
    position: relative;  
    img {
      height: 40px;
    }
    a{
      color: $white;
      font-family: "Great Vibes", cursive;
      font-size: 2.5rem;
      &:hover{
        color: $blue_2;
      }
    }
  }
  @media (max-width: 1000px){
    .heading{
        h2{
            font-size: 2rem !important;
        }
        p{
            width: 80% !important;
        }
    } 
  }
#myBtn{
    background: $secondary;
    padding: 10px;
    font-size: 20px;
    position: fixed;
    right: 15px;
    bottom: 20px;
    border: 1px solid $secondary;
    transition: all 0.4s;
    color: #fff;
    border-radius: 5px;
    z-index: 9999;
    &:hover{
      opacity: 0.7;
    }
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: $primary;
}
::-webkit-scrollbar-thumb {
    background-color: $secondary;
    transition: all 0.4s;
}
::-webkit-scrollbar-thumb:hover {
    opacity: 0.7;
}