// الأزرق الداكن 
$blue:#2C3E50;
//  - للعنوان الرئيسي والشريط العلوي.
// الأزرق الفاتح 
$blue_2:#3498DB;
//  - لأزرار الدعوة للعمل والروابط.
// الأبيض 
$white: #FFFFFF;
//  - لخلفية النصوص والمناطق الرئيسية.
// الرمادي الفاتح 
$gray: #ECF0F1;
//  - لخلفية الموقع الأساسية.
// الرمادي الداكن 
$gray_2:#7F8C8D;
//  - للنصوص الثانوية والتفاصيل الصغيرة.





// مجموعة ألوان حيوية ومشرقة:
// الأخضر الفاتح 
$green: #2ECC71;
//  - لأزرار الدعوة للعمل والأيقونات.
// الأخضر الداكن 
$green_2: #27AE60;
//  - للعنوان الرئيسي والشريط العلوي.
// الأبيض (#FFFFFF) - لخلفية النصوص والمناطق الرئيسية.
// الرمادي الفاتح 
$gray_3: #BDC3C7;
//  - لخلفية الموقع الأساسية.
// الرمادي الداكن (
$gray_4: #34495E;
    // ) - للنصوص الثانوية والتفاصيل الصغيرة.
// مجموعة ألوان أنيقة وعصرية:
// الأرجواني الداكن (#8E44AD) - للعنوان الرئيسي والشريط العلوي.
// الأرجواني الفاتح (#9B59B6) - لأزرار الدعوة للعمل والروابط.
// الأبيض (#FFFFFF) - لخلفية النصوص والمناطق الرئيسية.
// الرمادي الفاتح (#EDEDED) - لخلفية الموقع الأساسية.
// الرمادي الداكن (#2C3E50) - للنصوص الثانوية والتفاصيل الصغيرة.
// مجموعة ألوان ودية ودافئة:
// البرتقالي الفاتح (#E67E22) - لأزرار الدعوة للعمل والأيقونات.
// البرتقالي الداكن (#D35400) - للعنوان الرئيسي والشريط العلوي.
// الأبيض (#FFFFFF) - لخلفية النصوص والمناطق الرئيسية.
// الرمادي الفاتح (#F0F3F4) - لخلفية الموقع الأساسية.
// الرمادي الداكن (#95A5A6) - للنصوص الثانوية والتفاصيل الصغيرة.
// مجموعة ألوان مبتكرة وجريئة:
// الأحمر الداكن (#C0392B) - للعنوان الرئيسي والشريط العلوي.
// الأحمر الفاتح (#E74C3C) - لأزرار الدعوة للعمل والروابط.
// الأبيض (#FFFFFF) - لخلفية النصوص والمناطق الرئيسية.
// الرمادي الفاتح (#BDC3C7) - لخلفية الموقع الأساسية.
// الرمادي الداكن (#2C3E50) - للنصوص الثانوية والتفاصيل الصغيرة.