$transition_4: all 0.4s;

$primary:#7dac18;

$secMy: #ddd !important;

$black: #000000 !important;

$white: #fff;


$background: #7dac18;
$background: #4b0110;
$background: #1c768f;
$background: #ea2340;